
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <SocketStream/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tampa Palms CC - Golf Game Signup</title>
  </head>

  <body>
    <div class="container">
      <form id="login" method="POST" action="auth" class="form-signin">
        <h2 class="form-signin-heading">Tampa Palms CC</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="pw" type="password" id="inputPassword" class="form-control last" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
          <a id="rlink" href="register">Register</a>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div id="error">

        </div>
      </form>
    </div>
  </body>
